
body {
	font-size: 16px;
	font-weight: 300;
}
h1{
  align-content: center;
  padding-left: 10px;
}
.title-bar{
	width: 100%;
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
}
.title-bar-right{
	color:#fff;
	}
a {
	color:#fefefe;
	text-decoration: none;
	display: inline-block;
	line-height: inherit;
}
.nav{
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin: 0;
}

.menu-item {
	display: inline-block;
	margin: 0;
  height: 1.5em;
}
.menu-link {
	font-size: 0.75em;
	font-weight: bold;
  align-content: flex-end;
	display: inline-block;
	padding: 1em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-html-user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#home{
  background-color: #AA6539;
}
.header1{text-align: center;}

#portfolio{
  background-color: #E8F8FF;
}
#footer{
	padding-top: 10px;
}
footer {
	background: #000;
}

.soc-media-ul {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
	/*	margin-left: 1em;
	*/
}

.soc-media-ul a {
	padding: 0.35em 0;
	width: 1.85em;
	color: #fff;
	border-radius: 50%;
	border: 2px solid;
}

.soc-media-ul a:hover,
.soc-media-ul a:focus {
	color: #ad0000;
}
footer h2 {
	color: #fff;
}
footer ul li {
	list-style: none;
	display: block;
	padding: 5%;
}

footer ul {
	margin-top: 10%;
}

footer i {
	font-size: 20px;
	letter-spacing: 3%;
	color: #fff;
	font-weight: 900;
}

footer p {
	color: white;
	text-align: center;
	margin-left: 5%;
}

.icons {
	font-family: 'Cherry Cream Soda', cursive;
	font-weight: 900;
	color: whitesmoke;
}

@media only screen and (min-width: 412px) {
	.cd-words-wrapper{
		width: 100%
	}
  .cd-title {
    line-height: 150px;
  }
  img{
    max-width: 100%;
  }
	.cd-intro {
    margin: 2em auto;
  }
	.is-visible b{
		font-size: 1rem;
		text-align: center;
		height: 60%
	}
}
@media only screen and (min-width: 768px) {
  .cd-title {
    line-height: 250px;
    /*background-color: red;*/
  }
  img{
    max-width: 100%;
  }
	.cd-intro {
    margin: 5em auto;
  }
	.is-visible b{
		font-size: 3rem;
		text-align: center;
		height: 100%
	}
}
@media only screen and (min-width: 1170px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
    /*background-color: blue;*/
  }
  .cd-title h1{
    font-size: 3rem;
  }
  img{
    max-width: 100%;
  }
	.cd-headline {
	  font-size: 3rem;
	  line-height: 1.2;}
  .cd-intro {
  width: 90%;
  max-width: 768px;
  text-align: center;
	margin: 4em auto;
}
.is-visible b{
	font-size: 3rem;
	text-align: center;
	height: 100%
}
}
